<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/admin/assets/css/libs.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/assets/js/libs.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/ui.js"></script>
  </head>
  <body ng-app="urlshorter" ng-controller="settings">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span>{{settings.brand}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/admin/" translate="menu_redirects"></a>
            </li>
            <li>
              <a href="/admin/settings" translate="menu_settings"></a>
            </li>
            <li>
              <a href="/admin/security" translate="menu_security"></a>
            </li>
            <li class="active">
              <a href="/admin/backup" translate="menu_backup"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section" ng-controller="backup">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Url Simplifier</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-5">
                  <label for="restoreData" class="control-label" translate="lbl_restoreBackup"></label>
                </div>
                <div class="col-sm-7">
                  <input type="file" class="form-control" id="restoreBackup" accept="application/zip">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success pull-right" ng-click="restore(event)" translate="btn_restore"></button>
                </div>
              </div>
            </form>
            <hr>
            <a class="btn btn-primary" ng-click="get()"><i class="fa fa-fw fa-angle-double-down"></i>{{ 'placeholder_retrieveBackup' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>