<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/admin/assets/css/libs.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/assets/js/libs.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/ui.js"></script>
  </head>
  <body ng-app="urlshorter" ng-controller="settings">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span>{{settings.brand}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/admin/" translate="menu_redirects"></a>
            </li>
            <li>
              <a href="/admin/settings" translate="menu_settings"></a>
            </li>
            <li class="active">
              <a href="/admin/security" translate="menu_security"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section" ng-controller="security">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Url Simplifier</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="username" class="control-label" translate="lbl_adminUsername"></label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="username" placeholder="{{ 'placeholder_adminUsername' | translate }}"
                  ng-model="security.username">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="password" class="control-label" translate="lbl_adminPassword"></label>
                </div>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="password" placeholder="{{ 'placeholder_adminPassword' | translate }}"
                  ng-model="security.password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="pwdconfirm" class="control-label" translate="lbl_adminPasswordConfirm"></label>
                </div>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="pwdConfirm" placeholder="{{ 'placeholder_adminPasswordConfirm' | translate }}"
                  ng-model="security.pwdConfirm">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success pull-right" ng-click="save()" translate="btn_done"></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</body></html>