Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule settings/?$ /admin/index.php?html=settings [QSA]
RewriteRule security/?$ /admin/index.php?html=security [QSA]
