<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-app="urlshorter" ng-controller="settings">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{settings.defaultUrl}}"><span>{{settings.brand}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Redirects</a>
            </li>
            <li class="active">
              <a href="/settings">Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Url Simplifier</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="brand" class="control-label">Brand</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="brand" placeholder="Brand"
                  ng-model="settings.brand">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="defaultUrl" class="control-label">Default Url</label>
                </div>
                <div class="col-sm-8">
                  <input type="url" class="form-control" id="defaultUrl" placeholder="Your default url"
                  ng-model="settings.defaultUrl">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="analytics" class="control-label">Google Analytics</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="analytics" placeholder="UA-#######-#"
                  ng-model="settings.analytics">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="testDomain" class="control-label">Test Domain</label>
                </div>
                <div class="col-sm-8">
                  <input type="url" class="form-control" id="testDomain" placeholder="Prefix url to test the shortened links"
                  ng-model="settings.testDomain">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="extraHeader" class="control-label">Extra Head Tags</label>
                </div>
                <div class="col-sm-8">
                  <textarea class="form-control" placeholder="Extra Tags for shareable links. Globals rich-snippets, extra trackings, etc."
                  ng-model="settings.extraHeader" id="extraHeader"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label for="password" class="control-label">Admin Password</label>
                </div>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="password" autocomplete="off" placeholder="Password if needed for the 'admin' user"
                  ng-model="settings.password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success pull-right" ng-click="save()">Done</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/ui.js"></script>
</body></html>